.scroller {
    scrollbar-color: #a0aec0 #141b2a;
    scrollbar-width: none !important;
}

/* width */
.scroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #141b2a;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
    background: #181818;
    border-radius: 100vh;
    border: 1px solid #181818;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.scrollerlight {
    scrollbar-color: #cfcfcf #ffffff;
    scrollbar-width: none !important;
}

/* width */
.scrollerlight::-webkit-scrollbar {
    width: 2px;
    height: 6px;
}

/* Track */
.scrollerlight::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
}

/* Handle */
.scrollerlight::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 100vh;
    border: 1px solid #cecece;
}

/* Handle on hover */
.scrollerlight::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

input:focus , textarea{
    outline: none;
}

nav.scroller{
    width: inherit;
}

/* .login h2, .login label, .login a{
    color: white;
    
}
.login input{
    width: 100%;
}
.login button{
    background: white;
    margin: 0 15px;
    border: 1px solid black;
} */

/* geoapify-autocomplete-input */
.autocomplete-container {
    position: relative;
}

.geoapify-autocomplete-input{
    border: unset !important;
    width: fit-content !important;
}
input.geoapify-autocomplete-input{
    color: rgb(96, 165, 250);
    
}
.geoapify-autocomplete-items{
    font-size: 12px;
}

.geoapify-autocomplete-item .icon{
    display: none !important;
}

/* Readonly */

input[readonly],
textarea[readonly] {
    /* Apply your desired CSS styles here */
    background-color: #eee;
    color: #000;
    font-weight: 600;
    cursor: not-allowed;
}

.billing .geoapify-autocomplete-input{
    height: 2.5rem;
    margin-top: 4px;
    border-radius: 5px;
    width: 100% !important;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


